brcdb:
  short_name: brc
  host: xxxxxxxx
  service_name: xxxxxxxx
  username:   BRC_Uxxxxxx
  password:   xxxxxxxx
  port:       xxxx

aws:
  aws_access_key_id: xxxxx
  aws_secret_access_key: xxxxxxx
  endpoint_url: http://s3.inetpsa.com:9020

mailing:
  host: smtp-auth.mpsa.com
  sender: forename.name@mpsa.com
  receivers: [forename1.name1@mpsa.com, forename2.name2@mpsa.com]
  username: uxxxxxx
  password: xxxxxxxxx  # RPI password
